<div class="container">
  <div class="row">
    <% @users.each do |user| %>
      <div class="house house-<%= user.house %> my-3 col-3" >
        <%= link_to user_path(user) do %>
        <div class="avatar-container">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user.nickname}", class:"card-avatar" %>
          <%= image_tag "#{user.house}.png", class:"avatar-badge-format" %>
        </div>
        <div class="card-body">
          <h5 class="card-title-user"><%= "#{user.name}" %></h5>
          <p class="card-text-user"><%= "#{pluralize(user.services.size, "service")}" %></p>
        </div>
        <% end %>
      </div>
      <% end %>
  </div>
</div>
