<div class="container">
  <div class="row">
    <% @services.each do |service| %>
      <div class="col-md-3 mb-3">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">
              <img src="https://abrudz.github.io/logos/<%= service.name %>.svg"
                   alt="<%= service.name %> logo"
                   style="width: 20px; height: 20px; margin-right: 8px;">
              <%= "#{service.name}" %> <br>par <%= "#{service.user.name}" %>
            </h5>
            <p class="card-text">
              <%= button_to "Réserver ce service", new_service_booking_path(service), method: :get, class: "btn-creation" %>
            </p>
            <p class="card-text">
              <strong>Tarif journalier :</strong> <%= service.daily_rate %>€
            </p>
          </div>
        </div>
      </div>
    <% end %>
    <%= will_paginate @services %>
  </div>
</div>