<div class="container">
  <div class="row">
    <div class="card-house house-<%= @service.user.house %> my-3 col-3" >
      <div class="avatar-container">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{@service.user.nickname}", class:"card-avatar" %>
        <%= image_tag "#{@service.user.house}.png", class:"avatar-badge-format" %>
      </div>
      <div class="card-body">
        <h3 class="card-title-user" style="color:white"><%= "#{@service.user.name}" %></h3>
        <h5 class="card-text" style="color:white"><%= "#{pluralize(@service.user.services.size, "service")}" %></h5>
      </div>
    </div>
    <div class="col-9 my-4">
      <h2 class="dashboard-h2">Sorcier: <%= @service.user.name %></h2>
      <h3 class="dashboard-h2">Service choisi: <%= @service.name %> <img src="https://abrudz.github.io/logos/<%= @service.name %>.svg"
                                                                         alt="<%= @service.name %> logo"
                                                                         style="width: 60px; height: 60px; margin-right: 8px;"></h3>
      <div class="row">
        <%= form_with model: @booking, url: service_bookings_path(@service), local: true, data: {
          turbo: "false",
          controller: "datepicker",
          "datepicker-base-price": @service.daily_rate,
          "datepicker-reserved-dates": @booked_dates.to_json
        } do |form| %>
          <div class="container card-dash ms-0" style="max-width: 600px; padding: 20px;">
            <div class="mb-3">
              <%= form.label :start_date, "Dates de réservation", class: "form-label card-dash-title" %>
              <%= form.text_field :start_date, data: { "datepicker-target": "input" }, class: "form-control card-dash" %>
            </div>
            <div class="mb-4 card-dash-text">
              <strong>Prix total :</strong>
              <span data-datepicker-target="price" class="price-display">0 €</span>
            </div>
            <div class="mb-3 card-dash-title">
              <%= form.label :comment, "Commentaire", class: "form-label" %>
              <%= form.text_area :comment, rows: 3, class: "form-control card-dash" %>
            </div>
            <div class="text-center">
              <%= form.submit "Réserver", class: "btn card-dash-btn", data: { "disable-with": "En cours..." } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
