<div>
  <h1>Détails des services</h1>
  <div class="container">
    <div class="row">
      <div class="card-user my-5 col-3">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{@user.nickname}", class:"pict-user-card" %>
        <div class="card-body">
          <h5 class="card-title"><%= @user.name %></h5>
          <p class="card-text"><%= @user.name %></p>
        </div>
      </div>
      <div class="col-9 my-5">
        <h2>Services de <%=@user.name %></h2>
        <div class="row">
          <% @user.services.each do |service| %>
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= service.name %></h5>
                  <p class="card-text"><%= service.daily_rate %></p>
                  <div class="service-stats mt-3">
                  </div>
                  <div class="mt-3">
                    <%= link_to "Réserver ce service", new_service_path, class: "btn-creation" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
