  <h1 class="show-h1">Détails des services</h1>
  <div class="container">
    <div class="row">
      <div class="card-house house-<%= @user.house %> my-3 col-3" >
          <div class="avatar-container">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{@user.nickname}", class:"card-avatar" %>
            <%= image_tag "#{@user.house}.png", class:"avatar-badge-format" %>
          </div>
          <div class="card-body">
            <h3 class="card-title-user" style="color:wheat;font-family: 'Cinzel', serif; text-decoration: none"><%= "#{@user.name}" %></h3>
            <h5 class="card-text" style="color:wheat;font-family: 'Cinzel', serif; text-decoration: none"><%= "#{pluralize(@user.services.size, "service")}" %></h5>
            <%= @user.star_rating.html_safe %>
          </div>
      </div>
      <div class="col-9 my-5">
        <div class="row">
          <% @user.services.each do |service| %>
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body">
                  <img src="https://abrudz.github.io/logos/<%= service.name %>.svg"
                       alt="<%= service.name %> logo"
                       style="width: 20px; height: 20px; margin-right: 8px;">
                  <h5 class="card-title"><%= service.name %></h5>
                  <p class="card-text"><%= service.daily_rate %> €</p>
                  <%= service.star_rating.html_safe %>
                  <div class="mt-3">
                    <%= button_to "Réserver ce service", new_service_booking_path(service), method: :get, class: "btn-creation" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
