<div class="card-category">

  <div class="banner_title">
    <h1 class="home-center-top harry-font">
      <% card_user_connect = user_signed_in? ? "card-connect-#{current_user.house}" : "" %>
      <div class="<%= card_user_connect %>">
        <%= user_signed_in? ? "Bonjour #{current_user.name}" : "Développer vos projets avec les pouvoirs des freelancers" %>
      </div>
      </h1>
  </div>

  <div class="search-wrapper">
    <div class="serch-bar-center">
      <%= simple_form_for :services, url: services_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="query" id="search_query"
             placeholder="Recherchez un service..."/>
          <button type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
  <div class="col-6-md col-7-sm col-15-xs card-two d-flex flex-md-row flex-column align-items-center">
    <div class="card-explication flex-grow-1">
      <h3 class="second-title">Des freelances compétents dans tous les domaines à portée de clic magic !</h3>
      <ul>
        <li class="p-2">
          <h6 class="card-explication-h6"><i class="fa-solid fa-hat-wizard"></i> Un travail de qualité - efficace et fiable</h6>
          <p class="card-explication-p">Recevez des livraisons ponctuelles et de qualité, qu'il s'agisse d'un travail à court terme ou d'un projet complexe</p>
        </li>
        <li class="p-2">
          <h6 class="card-explication-h6"><i class="fa-solid fa-hat-wizard"></i> Sécurité pour chaque commande</h6>
          <p class="card-explication-p">Paiements protégés par la technologie SSL. Les transactions ne sont pas libérées tant qu'une livraison n'a pas été approuvée.</p>
        </li>
        <li class="p-2">
          <h6 class="card-explication-h6"><i class="fa-solid fa-hat-wizard"></i> Local ou mondial</h6>
          <p class="card-explication-p">Travaillez avec des experts germanophones ou des talents internationaux, en fonction de vos préférences et de vos besoins.</p>
        </li>
        <li class="p-2">
          <h6 class="card-explication-h6"><i class="fa-solid fa-hat-wizard"></i> 24 heures sur 24, 7 jours sur 7 - assistance en continu</h6>
          <p class="card-explication-p">Des questions ? Notre équipe d'assistance est disponible 24 heures sur 24, à tout moment et en tout lieu.</p>
        </li>
      </ul>
    </div>

    <div class="card-explication-img">
      <%= image_tag "wizard_developer.jpg", class: "img-fluid"%>
    </div>
  </div>



<%# TEST CAROUSEL %>
<div class="swiper">
        <div class="swiper-wrapper card-list">
          <div class="card-item swiper-slide">
            <%= image_tag "html.jpg", class: "carrousel-img" %>
            <h2 class="carrousel-title">Maîtrisez HTML & CSS</h2>
            <p class="carrousel-paragraph">Les bases solides pour tout développeur.</p>
            <a href="https://developer.mozilla.org/fr/docs/Web/HTML" class="carrousel-btn" target=_blank>Lire plus ...</a>
          </div>
          <div class="card-item swiper-slide">
            <%= image_tag "js.jpg", class: "carrousel-img" %>
            <h2 class="carrousel-title">Javascript moderne</h2>
            <p class="carrousel-paragraph">Dynamisez vos pages web avec JS.</p>
            <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript" class="carrousel-btn" target=_blank>Lire plus ...</a>
          </div>
          <div class="card-item swiper-slide">
            <%= image_tag "framefront.jpg", class: "carrousel-img" %>
            <h2 class="carrousel-title">Frameworks Front-end</h2>
            <p class="carrousel-paragraph">Explorez React, Vue, et les outils de front.</p>
            <a href="https://react.dev/" class="carrousel-btn" target=_blank>Lire plus ...</a>
          </div>
          <div class="card-item swiper-slide">
            <%= image_tag "backend-devlpt.jpg", class: "carrousel-img" %>
            <h2 class="carrousel-title">Back-end</h2>
            <p class="carrousel-paragraph">Devenez maître de Ruby on Rails ou Node.js.</p>
            <a href="https://guides.rubyonrails.org/" class="carrousel-btn" target=_blank>Lire plus ...</a>
          </div>
          <div class="card-item swiper-slide">
            <%= image_tag "restapi.jpg", class: "carrousel-img" %>
            <h2 class="carrousel-title">Rest API</h2>
            <p class="carrousel-paragraph">Connectez vos apps au monde extérieur.</p>
            <a href="https://restfulapi.net/" class="carrousel-btn" target=_blank>Lire plus ...</a>
          </div>
          <div class="card-item swiper-slide">
            <%= image_tag "responsive.jpg", class: "carrousel-img" %>
            <h2 class="carrousel-title">Responsive Design</h2>
            <p class="carrousel-paragraph">Créez des sites adaptables sur tous les écrans.</p>
            <a href="https://restfulapi.net/" class="carrousel-btn" target=_blank>Lire plus ...</a>
          </div>
          <div class="card-item swiper-slide">
            <%= image_tag "seo.jpg", class: "carrousel-img" %>
            <h2 class="carrousel-title">SEO Technique</h2>
            <p class="carrousel-paragraph">Optimisez vos sites pour les moteurs de recherche.</p>
            <a href="https://developers.google.com/search/docs/fundamentals/seo-starter-guide?hl=fr" class="carrousel-btn" target=_blank>Lire plus ...</a>
          </div>
          <div class="card-item swiper-slide">
            <%= image_tag "deploiement.jpg", class: "carrousel-img" %>
            <h2 class="carrousel-title">Déploiement</h2>
            <p class="carrousel-paragraph">Déployez vos projets sur le web avec confiance.</p>
            <a href="https://devcenter.heroku.com/categories/reference" class="carrousel-btn" target=_blank>Lire plus ...</a>
          </div>
        </div>
        <!-- pagination -->
        <div class="swiper-pagination"></div>
        <!-- navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
</div>
